*{
    margin: 0;
    padding: 0;
}

body{
    align-content: center;
    height: 100vh;
    background-image: url("../Background-for-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(6px);
}

.difficulty{
    border-radius: 20px;
    border-style: solid;
    max-width: 700px;
    margin: auto;
    padding-top: 10px;
    background-color: black;
    color: rgb(0, 0, 0);
    background-image: url("../Strawhats-Logo.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic l', 'Arial Narrow', Arial, sans-serif;
}

.diff-btns{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin:auto;
    gap: 100px;
    padding: 50px;
}

.diff-btns button{
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    font-size: larger;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    cursor: pointer;
    
}

.diff-btns button:hover{
    background-color: rgb(124, 214, 184);
}