*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic l', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background: cyan;
}

.app{
    background-color: black;
    color: aliceblue;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 20px;
    gap: 10px;
}

.app h1{
    border-bottom: 1px solid;
    font-size: 25px;
    padding-bottom: 20px;
}

.quiz{
    padding: 10px;
}

.quiz h3{
    padding-bottom: 10px;
}

.btns{
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: large;
    border-radius: 20px;
    margin: 10px 0;
    background: black;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.4s;
}

.btns:hover:not([disabled]){
    background: cyan;
    color: black;
}

.btns:disabled{
    cursor: no-drop;
}

.comment{
    display: none;
}

#nxtLvlBtn{
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    background: aliceblue;
    cursor: pointer;
    margin: 20px auto 0;
    display: none;
    transition: all 0.5s;
}

#nxtLvlBtn:hover{
    background: cyan;
    color: black;
    padding: 10px 40px;
    font-size: 20px;
}

#nextBtn{
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    background: aliceblue;
    cursor: pointer;
    margin: 20px auto 0;
    display: none;
    transition: all 0.5s;
}

#nextBtn:hover{
    background: cyan;
    color: black;
    padding: 10px 40px;
    font-size: 20px;
}

.correct{
    background: #9aeabc;
    color: black;
}

.incorrect{
    background: #ff9393;
}

@media (max-width: 768px){
    .app{
        margin-top: 70px;
    }
}