* {
    margin: 0;
    padding: 0;
    ;
}

body {
    background-image: url("../Background-for-pc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
}

.home {
    border-radius: 30%;
    border-style: solid;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic l', 'Arial Narrow', Arial, sans-serif;
}

.home h1 {
    font-size: 50px;
    text-align: center;
}

.home h3 {
    text-align: center;
}

.home button {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background: #ff4757;
    color: white;
    cursor: pointer;
}

.home a {
    text-decoration: none;
    color: aliceblue;
}

button:hover {
    background: #ff6b81;
}

@media(max-width: 768px) {
    body {
        background-image: url(../Background-image-for-mob.jpg);
        background-size: cover;
    }

    .home {
        border-radius: 30%;
        border-style: solid;
        padding: 10px;
        max-width: 800px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: center;
        font-family: 'Franklin Gothic l', 'Arial Narrow', Arial, sans-serif;
    }

    .home h1 {
        font-size: 40px;
        text-align: center;
    }

    .home h3 {
        text-align: center;
    }
}